<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Actualizar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form  [formGroup]="editarContrasenaForm" (ngSubmit)="guardarContrasena()">
        <ion-card-header>
          <ion-card-title style="font-style: italic; text-align: center;">Recuperar contarseña</ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-icon name="mail" slot="start" color="medium"></ion-icon>
          <ion-input type="email" label="Correo" label-placement="floating" formControlName="correo" placeholder="email@dominio.com"></ion-input>
        </ion-item>        
        <div style="color: red;" *ngIf="editarContrasenaForm.get('correo')?.touched && editarContrasenaForm.get('correo')?.invalid">
          <div *ngIf="editarContrasenaForm.get('correo')?.hasError('required')">
            *Correo es obligatorio
          </div>
          <div *ngIf="editarContrasenaForm.get('correo')?.hasError('email')">
            *Formato de correo no válido
          </div>
        </div>
    
        <ion-item>
          <ion-icon name="lock-closed" slot="start" color="medium"></ion-icon>
          <ion-input fill="outline" label="Contraseña" label-placement="floating" [type]="passwordType1" placeholder="*********" name="password" formControlName="contrasena"></ion-input>
          <ion-button fill="clear" slot="end" (click)="passwordVisibility1()">
            <ion-icon [name]="passwordIcon1" color="medium"></ion-icon>
          </ion-button>
        </ion-item>
        <div style="color: red;" *ngIf="editarContrasenaForm.get('contrasena')?.touched && editarContrasenaForm.get('contrasena')?.invalid">
          <div *ngIf="editarContrasenaForm.get('contrasena')?.hasError('required')">
            *Contraseña es obligatoria
          </div>
          <div *ngIf="editarContrasenaForm.get('contrasena')?.hasError('minlength')">
            *Contraseña debe tener mínimo 6 caracteres
          </div>
          <div *ngIf="editarContrasenaForm.get('contrasena')?.hasError('pattern')">
            *Contraseña debe tener al menos una mayúscula y un número
          </div>
        </div>
    
        <ion-item>
          <ion-icon name="lock-closed" slot="start" color="medium"></ion-icon>
          <ion-input fill="outline" label="Repetir contraseña" label-placement="floating" [type]="passwordType2" placeholder="*********" name="password" formControlName="confirmarContrasena"></ion-input>
          <ion-button fill="clear" slot="end" (click)="passwordVisibility2()">
            <ion-icon [name]="passwordIcon2" color="medium"></ion-icon>
          </ion-button>
        </ion-item>
        <div style="color: red;" *ngIf="editarContrasenaForm.hasError('mismatch') && editarContrasenaForm.get('confirmarContrasena')?.touched">
          *Las contraseñas no coinciden
        </div>
    
        <div style="text-align: center;">
          <ion-button color="warning" shape="round" type="submit">
            Guardar Contraseña
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>Check Class 2024</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
