<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form [formGroup]="passwordForm">
      <ion-card-header>
        <ion-card-title style="font-style: italic; text-align: center;">Recuperar contarseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-icon name="mail" slot="start" color="medium"></ion-icon>
          <ion-input fill="outline" label="Correo electrónico" label-placement="floating" type="email" placeholder="email@dominio.cl" formControlName="correo">
          </ion-input>
        </ion-item>

        <div style="color: red;" id="alerta" *ngIf="passwordForm.get('correo')?.invalid && (passwordForm.get('correo')?.dirty || passwordForm.get('correo')?.touched)">
          <div *ngIf="passwordForm.get('correo')?.hasError('required')">*Correo es obligatorio</div>
          <div *ngIf="passwordForm.get('correo')?.hasError('email')">*Formato de correo no válido</div>
        </div>

        <div style="text-align: center; margin: 20px 0;">
          <ion-button
            (click)="verificarEmail()"
            [disabled]="!passwordForm.valid"
            fill="solid"
            shape="round"
            color="warning">
            Recuperar Contraseña
          </ion-button>
        </div>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>Check Class 2024</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>